header {
background-color: pink;
}
header .container {
  width:400px;
  margin:0 auto;
  display:flex;
  padding:32px 0;
  
}
header .container div {
  margin-left:32px;
}
header .container p{
  background: linear-gradient(transparent 30%, #a7d6ff 70%);
}
header .icon {
  border-radius:50%;
}
header ul{
  list-style:none;
  margin:0;
  padding:0;
  
}

/* main */
main .container {
  width:400px;
  margin:0 auto;
}

main h1{
  font-size:24px;
  font-weight:normal;
  text-align:center;
  padding:60px 0;
}
main h2{
  margin-top:16px;
}
 main p{
   line-height:1.0;
   margin-top:16px;
 }
 main section + section{
   margin-top: 60px;
 }
body {
  margin:0px;
}
img {
  vertical-align:bottom;
  }

  section img{
    width:400px;
    margin:0 auto;
  }
  section p{
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  }

h1,h2,p {
  margin:0;
}
footer{
  padding:60px 0;
  text-align: center;
  color:#aaa
}
